@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #b8c1c0;
}


.main-content {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    background-color: #E1EDEB;
    border: 1px solid red;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border: 1px solid red;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

.footer {
    border: 1px solid red;
}